# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# macOS
.DS_Store

# Xcode
ios/build/
ios/Pods/
ios/Podfile.lock
ios/.xcode.env.local
ios/.swiftpm/
*.xcworkspace
*.xcuserdata
*.xcuserstate

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties

# TypeScript
dist/
*.tsbuildinfo

# Misc
.idea/
.vscode/
.env

